<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enzym_shop</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/upload">Upload file</a>
    </div>

    <div>
        <div class="w3-container">
            <h2>List items Table</h2>

            <table class="w3-table-all w3-hoverable">
                <thead>
                    <tr class="w3-light-grey">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <% for(let i=0; i < dataItem.length; i++) { %>
                        <tr>
                            <td>
                                <%= dataItem[i].id %>
                            </td>
                            <td>
                                <%= dataItem[i].name %>
                            </td>
                            <td>
                                <%= dataItem[i].date %>
                            </td>
                            <td>
                                <%= dataItem[i].price %>
                            </td>
                            <td>
                                <%= dataItem[i].amount %>
                            </td>
                            <td style="display: flex; gap: 15px;">
                                <form action="/detail/item/<%= dataItem[i].id %>">
                                        <button type="submit">Detail</button>
                                </form>

                                <form action="/edit-item/<%= dataItem[i].id %>" method="GET">
                                    <button type="submit">Edit</button>
                                </form>

                                <form action="/delete-item" method="POST">
                                    <input type="text" hidden value="<%= dataItem[i].id %>" name="itemId" />
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>


            </table>
        </div>
        <div class="create-item-container">
            <form action="/create-new-item" method="POST">
                <div><b>Create a new item:</b></div>
                <div>
                    <label>Name:</label>
                    <input type="text" name="name" />
                </div>
                <div>
                    <label>Date:</label>
                    <input type="text" name="date" />
                </div>
                <div>
                    <label>Price:</label>
                    <input type="text" name="price" />
                </div>
                <div>
                    <label>Amount:</label>
                    <input type="text" name="amount" />
                </div>
                <div>
                    <button type="submit" class="btn-submit">Submit</button>
                </div>

            </form>

        </div>
    </div>

</body>

</html>